html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #222;
  font-family: "Raleway", sans-serif;
}

#map {
  height: 100%;
}

#box {
  float: left;
  margin: 20px;
}

#list {
  color: #f7ded4;
  list-style-type: none;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
}

#search-text {
  width: 75%;
  padding: 12px 12px;
  font-size: 14px;
}

.iw-title {
  font-weight: 500;
}

.iw-description {

}

.iw-rating {
 float: right;
}

.iw-address {
  font-size: 12px;
  float: right;
}
